body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0px;
}

.container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#video {
    display: none;
    width: 100%;
    border: 1px solid #ccc;
}

#canvas {
    width: 100%;
    border: 1px solid #ccc;
}

.controls {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#toggleBtn {
    width: 40%;
    height: 20%;
    margin: 30%;
    margin-top: 20%;
    background-color: rgb(20, 30, 20);
    color: white;
    border: 2px solid rgb(200, 200, 200);
}

.buttonOn {
    opacity: 30%;   
}

.buttonOff {
    opacity: 100%;
}

#status {
    position: relative;
}

.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.error {
    background-color: #f2dede;
    color: #a94442;
}